<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Phản hồi yêu cầu tư vấn</title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6;">
<h2 style="color: #1976d2;">🎓 FPT University - Phản hồi yêu cầu tư vấn</h2>

<p>Xin chào [[${email}]],</p>

<p>Yêu cầu tư vấn của bạn đã được phản hồi như sau:</p>

<table style="border-collapse: collapse;">
    <tr><td><strong>Chủ đề:</strong></td><td>[[${topic}]]</td></tr>
    <tr><td><strong>Nội dung:</strong></td><td>[[${content}]]</td></tr>
    <tr><td><strong>Phản hồi:</strong></td><td style="color: green;">[[${response}]]</td></tr>
</table>

<p>Trân trọng,<br/>
    [[${username}]]<br/>
    Bộ phận Tư vấn tuyển sinh - FPTU</p>
</body>
</html>
